.container {
	display: flex;
}

.column {
	flex: 1;
	padding: 10px;
}

input,select {
	width: 100%;
}

pre {
	border: groove;
	line-height: normal;
	margin: 0;
}

textarea {
	font-family: monospace;
	line-height: normal;
	resize: none;
	width: 100%;
}
